#pano {
  height: calc(100% - 55px);
  top: 55px;
}

#titleBar,
#sceneListToggle,
#autorotateToggle,
#fullscreenToggle {
  /*top: 55px;*/
  display: none !important; /* hide UI elements for only navigation */
}

#sceneList {
  /*
  top: 55px;
  max-height: calc(100% - 55px);
  */
  display: none !important; /* hide UI elements for only navigation */
}

.viewControlButton { display: none !important; }


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -ms-content-zooming: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
}

a, a:hover, a:active, a:visited {
  text-decoration: none;
  color: inherit;
}

#pano {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#titleBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 40px;
  height: 40px;
  text-align: center;
}

.mobile #titleBar {
  height: 50px;
  right: 50px;
}

body.fullscreen-enabled #titleBar {
  right: 80px;
}

body.fullscreen-enabled.mobile #titleBar {
  right: 100px;
}

body.multiple-scenes #titleBar {
  left: 40px;
}

body.multiple-scenes.mobile #titleBar {
  left: 50px;
}

#titleBar .sceneName {
  width: 100%;
  height: 100%;
  line-height: 30px;
  padding: 5px;
  background-color: rgba(0, 59, 111, 0.8);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.mobile #titleBar .sceneName {
  line-height: 40px;
}

#fullscreenToggle,
#autorotateToggle,
#sceneListToggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgba(0, 41, 77, 0.8);
}

.mobile #fullscreenToggle,
.mobile #autorotateToggle,
.mobile #sceneListToggle {
  width: 50px;
  height: 50px;
}

body.fullscreen-enabled #fullscreenToggle {
  display: block;
}
#autorotateToggle {
    display: block;
}
#sceneListToggle {
    left:0;
    right: auto;
}

#fullscreenToggle .icon,
#autorotateToggle .icon,
#sceneListToggle .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.mobile #fullscreenToggle .icon,
.mobile #autorotateToggle .icon,
.mobile #sceneListToggle .icon {
  top: 10px;
  right: 10px;
}

#fullscreenToggle .icon.on,
#autorotateToggle .icon.on,
#sceneListToggle .icon.on {
  display: none;
}

#fullscreenToggle .icon.off,
#autorotateToggle .icon.off,
#sceneListToggle .icon.off {
  display: block;
}

#fullscreenToggle.enabled .icon.on,
#autorotateToggle.enabled .icon.on,
#sceneListToggle.enabled .icon.on {
  display: block;
}

#fullscreenToggle.enabled .icon.off,
#autorotateToggle.enabled .icon.off,
#sceneListToggle.enabled .icon.off {
  display: none;
}

body.fullscreen-enabled #autorotateToggle {
  right: 40px;
}

body.fullscreen-enabled.mobile #autorotateToggle {
  right: 50px;
}

#sceneList {
  position: absolute;
  top: 0;
  left: -220px;
  padding-top: 40px;
  width: 220px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-left: 0;
  -webkit-transition: margin-left 0.5s ease-in-out;
  transition: margin-left 0.5s ease-in-out;
}

.mobile #sceneList {
  padding-top: 50px;
}

#sceneList .scenes {
  width: 100%;
  background-color: rgba(0, 59, 111, 0.8);
}

.mobile #sceneList {
  width: 100%;
  height: 100%;
  left: -100%;
}

.mobile #sceneList.enabled {
  margin-left: 100%;
}

.mobile #sceneList .scenes {
  height: 100%;
}

#sceneList.enabled {
  margin-left: 220px;
}

#sceneList .scene {
  display: block;
  width: 100%;
  height: 30px;
}

.mobile #sceneList .scene {
  height: 40px;
}

#sceneList .scene .text {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  line-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile #sceneList .scene .text {
  line-height: 40px;
}

.no-touch #sceneList .scene:hover {
  background-color: rgba(0, 41, 77, 0.8);
}

#sceneList .scene.current {
  background-color: rgba(0, 41, 77, 0.8);
}

body.single-scene #sceneList, body.single-scene #sceneListToggle {
  display: none;
}

.link-hotspot {
  width: 60px;
  height: 60px;
  margin-left: -30px;
  margin-top: -30px;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.no-touch .link-hotspot:hover {
  opacity: 1;
}

.mobile .link-hotspot {
  width: 70px;
  height: 70px;
}

.link-hotspot-icon {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.link-hotspot-tooltip {
  position: absolute;
  left: 100%;
  top: 14px;
  margin-left: 3px;
  font-size: 16px;
  max-width: 300px;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: rgba(0, 59, 111, 0.8);
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  -ms-transform: translateX(-8px);
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, opacity 0.3s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, opacity 0.3s;
}

.mobile .link-hotspot {
  top: 19px;
}

.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  opacity: 1;
  -ms-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.link-hotspot-tooltip {
  pointer-events: none;
}
.no-touch .link-hotspot:hover .link-hotspot-tooltip {
  pointer-events: all;
}

.tooltip-fallback .link-hotspot-tooltip {
  display: none;
}
.no-touch .tooltip-fallback .link-hotspot:hover .link-hotspot-tooltip {
  display: block;
}

.info-hotspot {
  line-height: 1.2em;
  opacity: 0.9;
  -webkit-transition: opacity 0.2s 0.2s;
  transition: opacity 0.2s 0.2s;
}

.no-touch .info-hotspot:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.info-hotspot.visible {
  opacity: 1;
}

.info-hotspot .info-hotspot-header {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(0, 59, 111);
  cursor: pointer;
  -webkit-transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s;
  transition: width 0.3s ease-in-out 0.5s, border-radius 0.3s ease-in-out 0.5s;
}

.mobile .info-hotspot .info-hotspot-header {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.desktop.no-touch .info-hotspot .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.desktop .info-hotspot.visible .info-hotspot-header,
.desktop.no-touch .info-hotspot.visible .info-hotspot-header:hover {
  width: 260px;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
  transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.info-hotspot .info-hotspot-icon-wrapper {
  width: 40px;
  height: 40px;
}

.mobile .info-hotspot .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot .info-hotspot-title-wrapper {
  position: absolute;
  left: 40px;
  top: 0;
  width: 0;
  height: 40px;
  padding: 0;
  overflow: hidden;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.desktop .info-hotspot.visible .info-hotspot-title-wrapper,
.desktop.no-touch .info-hotspot .info-hotspot-header:hover .info-hotspot-title-wrapper {
  width: 220px;
  padding: 0 5px;
  -webkit-transition: width 0s 0.4s, padding 0s 0.4s;
  transition: width 0s 0.4s, padding 0s 0.4s;
}

.info-hotspot .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot .info-hotspot-close-wrapper {
  position: absolute;
  left: 260px;
  top: 0;
  height: 40px;
  width: 40px;
  border-top-right-radius: 5px;
  background-color: rgb(0, 26, 49);
  visibility: hidden;
  -ms-transform: perspective(200px) rotateY(90deg);
  -webkit-transform: perspective(200px) rotateY(90deg);
  transform: perspective(200px) rotateY(90deg);
  -ms-transform-origin: 0 50% 0;
  -webkit-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0.6s;
  transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0.6s;
}

.desktop .info-hotspot.visible .info-hotspot-close-wrapper {
  visibility: visible;
  -ms-transform: perspective(200px) rotateY(0deg);
  -webkit-transform: perspective(200px) rotateY(0deg);
  transform: perspective(200px) rotateY(0deg);
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0s;
}

.info-hotspot .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot .info-hotspot-text {
  position: absolute;
  width: 300px;
  height: auto;
  max-height: 200px;
  top: 40px;
  left: 0;
  padding: 10px;
  background-color: rgb(0, 59, 111);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  overflow-y: auto;
  visibility: hidden;
  -ms-transform: perspective(200px) rotateX(-89.999deg);
  -webkit-transform: perspective(200px) rotateX(-89.999deg);
  transform: perspective(200px) rotateX(-89.999deg);
  -ms-transform-origin: 50% 0 0;
  -webkit-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0.3s;
  transition: -ms-transform 0.3s, -webkit-transform 0.3s, transform 0.3s, visibility 0s 0.3s;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.desktop .info-hotspot.visible .info-hotspot-text {
  visibility: visible;
  -ms-transform: perspective(200px) rotateX(0deg);
  -webkit-transform: perspective(200px) rotateX(0deg);
  transform: perspective(200px) rotateX(0deg);
  -webkit-transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0s;
  transition: -ms-transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s, transform 0.3s 0.3s, visibility 0s 0s;
}

.desktop .info-hotspot-modal {
  display: none;
}

.info-hotspot-modal {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 11000 !important;
  background-color: rgba(0,0,0,.5);
  line-height: 1.2em;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
  transition: opacity 0.2s ease-in-out 0.5s, visibility 0s 0.7s;
}

.info-hotspot-modal.visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0s 0s;
  transition: opacity 0.2s ease-in-out, visibility 0s 0s;
}

.info-hotspot-modal .info-hotspot-header {
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  width: auto;
  height: 50px;
  background-color: rgba(0, 59, 111, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal.visible .info-hotspot-header {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.2s;
  transition: opacity 0.3s ease-in-out 0.2s;
}

.info-hotspot-modal .info-hotspot-icon-wrapper {
  width: 50px;
  height: 50px;
}

.info-hotspot-modal .info-hotspot-icon {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.info-hotspot-modal .info-hotspot-title-wrapper {
  position: absolute;
  top: 0;
  left: 50px;
  right: 50px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}

.info-hotspot-modal .info-hotspot-title-wrapper:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.info-hotspot-modal .info-hotspot-title {
  display: inline-block;
  vertical-align: middle;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal .info-hotspot-close-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 41, 77, 0.8);
  cursor: pointer;
}

.info-hotspot-modal .info-hotspot-close-icon {
  width: 70%;
  height: 70%;
  margin: 15%;
}

.info-hotspot-modal .info-hotspot-text {
  position: absolute;
  top: 110px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  background-color: rgba(0, 59, 111, 0.8);
  overflow-y: auto;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.info-hotspot-modal.visible .info-hotspot-text {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.4s;
  transition: opacity 0.3s ease-in-out 0.4s;
}

.viewControlButton {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 40px;
  height: 40px;
  padding: 5px;
  background-color: rgba(0, 41, 77, 0.8);
}

body.view-control-buttons .viewControlButton {
  display: block;
}

@media (max-width: 600px) {
  body.view-control-buttons .viewControlButton {
    display: none;
  }
}

.viewControlButton .icon {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
}

.viewControlButton-1 {
  margin-left: -145px;
}
.viewControlButton-2 {
  margin-left: -95px;
}
.viewControlButton-3 {
  margin-left: -45px;
}
.viewControlButton-4 {
  margin-left: 5px;
}
.viewControlButton-5 {
  margin-left: 55px;
}
.viewControlButton-6 {
  margin-left: 105px;
}

.info-modal {
  position: fixed;
  top: 6vh;
  left: 50%;
  transform: translateX(-50%);
  max-width: 88vw;
  max-height: 88vh;
  background: rgba(255,255,255,0.98);
  box-shadow: 0 10px 40px rgba(0,0,0,0.6);
  border-radius: 8px;
  z-index: 2000;
  display: none;
  overflow: auto;
  padding: 12px;
}
.info-modal.visible { display: block; }
.info-modal-inner { position: relative; }
.info-modal-close {
  position: absolute;
  right: 8px;
  top: 6px;
  border: none;
  background: transparent;
  font-size: 28px;
  line-height: 1;
  cursor: pointer;
}
.info-modal-body img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 8px auto;
}
.info-modal-body .info-text {
  margin-top: 8px;
  color: #222;
  font-size: 15px;
}

/* Voice Button Styling */
:root {
  --holo-primary: #7dd3fc;      /* sky-ish blue */
  --holo-accent: #a78bfa;       /* purple accent */
  --holo-glow: rgba(125,211,252,0.6);
  --btn-bg: rgba(0,0,0,0.55);
  --btn-bg-hover: rgba(0,0,0,0.75);
  --white: #fff;
}

/* Center dock above captions */
#voiceDock {
  position: absolute;
  left: 50%;
  bottom: 90px; /* above captions */
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  align-items: center;
  z-index: 1100;
}

/* Main round button */
#voice-button {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 0;
  background: radial-gradient(120px 120px at 50% -30%,
              rgba(167,139,250,0.18), rgba(125,211,252,0.12) 40%, transparent 70%),
              var(--btn-bg);
  box-shadow: 0 0 18px var(--holo-glow);
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: transform .15s ease, box-shadow .2s ease, background .2s ease;
}
#voice-button:hover { background: var(--btn-bg-hover); transform: translateY(-1px); }
#voice-button:active { transform: translateY(0px) scale(0.98); }

/* mic icon */
#voice-button .mic-icon {
  width: 26px; height: 26px; fill: var(--white);
  opacity: 0.95; pointer-events: none;
}

/* Waves (hidden by default) */
#voice-button .waves { 
  position: absolute; inset: 0;
  display: none; pointer-events: none;
}
#voice-button.listening .waves { display: block; }
#voice-button .waves span {
  position: absolute; left: 50%; top: 50%;
  width: 4px; height: 4px; border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow:
    0 0 24px 6px rgba(125,211,252,0.25),
    0 0 8px 1px rgba(167,139,250,0.18);
  animation: pulse 1.6s ease-out infinite;
}
#voice-button .waves span:nth-child(1){ animation-delay: 0s; }
#voice-button .waves span:nth-child(2){ animation-delay: .15s; }
#voice-button .waves span:nth-child(3){ animation-delay: .3s; }
#voice-button .waves span:nth-child(4){ animation-delay: .45s; }
#voice-button .waves span:nth-child(5){ animation-delay: .6s; }
@keyframes pulse {
  0%   { width: 0; height: 0; opacity: 0.9; box-shadow: 0 0 24px 6px rgba(125,211,252,.25); }
  70%  { opacity: 0.25; }
  100% { width: 120px; height: 120px; opacity: 0; }
}

/* Spinner for GENERATING state */
#voice-button .spinner {
  position: absolute; inset: 0; margin: auto;
  width: 28px; height: 28px; border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.25);
  border-top-color: var(--white);
  display: none; animation: spin 0.9s linear infinite;
}
#voice-button.generating .spinner { display: block; }
@keyframes spin { to { transform: rotate(360deg); } }

/* Repeat button */
#repeat-button {
  width: 44px; height: 44px; border-radius: 50%;
  border: 0; cursor: pointer;
  display: grid; place-items: center;
  background: var(--btn-bg); color: var(--white);
}
#repeat-button:hover { background: var(--btn-bg-hover); }
#repeat-button svg { width: 22px; height: 22px; fill: currentColor; }

/* Captions autosize + scroll */
#captions {
  position: absolute;
  left: 50%; bottom: 24px; transform: translateX(-50%);
  max-width: min(900px, 86vw);
  max-height: 28vh;               /* constrain height */
  overflow: auto;                 /* enable scroll */
  padding: 10px 14px;
  background: rgba(0,0,0,0.55); color: #fff;
  border-radius: 10px; backdrop-filter: blur(4px);
  font: 500 16px/1.35 system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
  z-index: 1000;
  scroll-behavior: smooth;        /* smooth autoscroll */
}

/* Optional “plain” theme toggle (set on body) */
body.theme-plain #voice-button { box-shadow: none; background: rgba(0,0,0,0.6); }
body.theme-plain #voice-button .waves span { box-shadow: none; }

/*Exit Button Styling*/
#exitBtn {
  position: absolute;
  top: 14px;
  left: 14px;
  z-index: 1000;
  padding: 8px 12px;
  background: rgba(0,0,0,0.55);
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  font: 600 14px/1.2 system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
}
#exitBtn:hover { background: rgba(0,0,0,0.75); }